* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

.container {
  width: 100vw;
  height: 100vh;
  background-color: #fff;
  display: grid;
  place-items: center;

  .heart_div {
    width: 10rem;
    height: 10rem;
    background-color: red;
    position: relative;
    transform: rotate(45deg);
    animation: beat 2s linear infinite;

    &::before {
      content: "Tahir";
      width: 100%;
      height: 100%;
      background-color: red;
      position: absolute;
      border-radius: 50%;
      transform: translateY(-50%);
      font-size: 2rem;
      font-weight: 900;
      color: #fff;
      display: grid;
      place-items: center;
    }
    &::after {
      content: "M....";
      width: 100%;
      height: 100%;
      background-color: red;
      position: absolute;
      border-radius: 50%;
      transform: translateX(-50%);
      font-size: 2rem;
      font-weight: 900;
      color: #fff;
      display: grid;
      place-items: center;
    }
  }
}

@keyframes beat {
  0% {
    transform: rotate(45deg) scale(1);
  }
  20% {
    transform: rotate(45deg) scale(1);
  }
  40% {
    transform: rotate(45deg) scale(1.4);
  }
  60% {
    transform: rotate(45deg) scale(1.2);
  }
  80% {
    transform: rotate(45deg) scale(1.4);
  }
  100% {
    transform: rotate(45deg) scale(1);
  }
}
